<!DOCTYPE html>
<html class="no-js" lang="{%if page.locale%}{{page.locale}}{%else%}{{site.locale}}{%endif%}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{site.title}}{%if page.title%} : {{page.title}}{%endif%}</title>
<meta name="author" content="{{site.author}}">
{%if page.description%}<meta name="description" content="{{page.description}}">{%endif%}
{%unless site.data.development%}<base href="{{site.url}}">{%endunless%}
<link rel="author" href="{{site.baseurl}}/humans.txt">
{{head}}
</head>
<body>
